{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniobong Benson</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">

</head>
<body>
    <h1>Iniobong Benson</h1>
    
    
    <div class="details">
      <div class="circle"></div>
      <p>I'm <span>Iniobong Benson</span></p>
      <p>Backend Developer and GIS Analyst</p>
      <hr>
      <h6>Address</h6>
      <p>Earth</p>
      <h6>Address</h6>
      <p>Earth</p>
      <h6>Address</h6>
      <p>Earth</p> 
    </div>



    <div class="social">
    </div>
       <div class="row">
    <form class="col s12 contact" action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button class="btn waves-effect waves-light" type="submit" name="action">Shoot
            <i class="material-icons right">send</i>
        </button>
    
    </form>
  </div>



   

</body>
</html>