<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniobong Benson</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
    <h1>Iniobong Benson</h1>
    
<div class="circle"></div>
<div class="details">

</div>


    <div class="row">
        <form class="col s12 contact" action="" method="POST">
            {% csrf_token %}
            <div class="row">
            <div class="input-field col s6">
              <input name="first_name" placeholder="First Name" type="text" class="validate">
              
            </div>
            <div class="input-field col s6">
              <input name="last_name" type="text" placeholder="Last Name" class="validate">
              
            </div>
          </div>
         
          <div class="row">
            <div class="input-field col s12">
              <input name="email" type="email" placeholder="Email" class="validate">
              
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input name="subject" type="text" placeholder="Subject" class="validate">
              
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <textarea  rows="20" name="message" placeholder="Your message" class="materialize-textarea"></textarea>
              
            </div>
          </div>


            <button class="btn waves-effect waves-light" type="submit" name="action">Shoot
                <i class="material-icons right">send</i>
            </button>
        
        </form>
      </div>


</body>
</html>